#!/bin/bash
#Nicolas Tobias ## Marzo-2017
#Simple Wrapper
################################################################################

#Export JAVA_OPTS for JMX
export JAVA_OPTS="-Dcom.sun.management.jmxremote \
-Dcom.sun.management.jmxremote.port=18081 \
-Dcom.sun.management.jmxremote.local.only=false \
-Dcom.sun.management.jmxremote.authenticate=false \
-Dcom.sun.management.jmxremote.ssl=false \
-Djava.rmi.server.hostname={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"

daemonize -c /opt/kafkaMaxwell/daemon \
-e /opt/kafkaMaxwell/daemon/kafkaMaxwell_error.log \
-o /opt/kafkaMaxwell/daemon/kafkaMaxwell_out.log \
-p /opt/kafkaMaxwell/daemon/kafkaMaxwell.pid \
-l /opt/kafkaMaxwell/daemon/kafkaMaxwell.lock \
/opt/kafkaMaxwell/bin/maxwell \
--config=/opt/kafkaMaxwell/config.properties \
--bootstrapper async \
--log_level info \
--http_diagnostic_timeout=10000 \
--kafka_version=0.10.2.1 \
--jdbc_options=zeroDateTimeBehavior=convertToNull&connectTimeout=10000
