{# BINLOG ROUTER ON MAXSCALE DOESNT WORK ON VERSION 2.1.X, ONLY ON 2.2.X #}
{% if '2.1.' in maxscalever %}

###############################
# BINLOG ROUTER STREAM
# NOBINLOG ROUTER DUE TO PROBLEMS
# ONLY FROM 2.2.X, SORRY :)
###############################

{% else %}

###############################
##BINLOG ROUTER STREAM
[binlog-{{item.env}}]
type=service
router=binlogrouter
user={{item.binlogusr}}
password={{ item.binlogpwd }}
heartbeat=29
burstsize=4M
binlogdir=/var/lib/maxscale
mariadb10-compatibility=1
version_string={{item.instancever}}-binlog_server
servers={{item.binlogsrv|join(",")}}
server_id={{hostvars[inventory_hostname]['ansible_default_ipv4']['address']|ipaddr('int')}}
#master_id=898

[binlog Listener]
type=listener
authenticator_options=inject_service_user=true
service=binlog-{{ item.env }}
protocol={{ sqlengine }}Client
port={{ item.binlogport }}

[binlog Monitor]
type=monitor
module=galeramon
servers={{item.binlogsrv|join(",")}}
user={{item.binlogusr}}
passwd={{item.binlogpwd}}

{% endif %}
