#!/bin/bash

daemonize -c {{ maxscale_parent }}/exporter \
-e {{ maxscale_parent }}/exporter/exporter-error.log \
-o {{ maxscale_parent }}/exporter/exporter-out.log \
-p {{ maxscale_parent }}/exporter/exporter.pid \
-l {{ maxscale_parent }}/exporter/exporter.lock \
{{ maxscale_parent }}/exporter/maxscale_exporter \
-address 127.0.0.1:8003 \
-pidfile /run/maxscale/maxscale.pid \
-port 9312
