[Unit]
Description=Maxscale metric prometheus exporter

[Service]
Type=forking
ExecStart={{ maxscale_parent }}/exporter/wrapper.sh
Restart=on-failure
PIDFile={{ maxscale_parent }}/exporter/exporter.pid
RestartSec=5s

[Install]
WantedBy=multi-user.target
