###############################
#SERVERS FOR ALL INSTANCES
###############################
{% for server in dbservers %}

[{{ server.name }}]
type=server
address={{ server.address }}
port={{ server.port }}
protocol={{ sqlengine }}Backend
persistpoolmax=20
persistmaxtime=600

{% endfor %}
